body{
    margin: 0px;
}
div#container{
    width:100%;
    height:950px;
}
div#head{
    width:100%;
    height:50px;
    background-color: black;
}
div#cover{
    width:100%;
    height:300px;
    background-color: #007fff;
}
div#menu{
    width:100%;
    height:70px;
    background-color: black;
}
div#mainbody{
    width:100%;
    height:900px;
    background-color: white;
}
div#foot{
    width:100%;
    height:100px;
    background-color: lightslategray;
}